@import "utils/var.scss";
@import "utils/icons.scss";
@import "utils/mixins.scss";
@import "utils/reset.scss";
@import "utils/fonts.scss";

@import "global/main.scss";
@import "global/header.scss";
@import "global/banner.scss";
@import "global/about.scss";
@import "global/test.scss";
@import "global/start.scss";
@import "global/feature.scss";
@import "global/suport.scss";
@import "global/form.scss";
@import "global/footer.scss";
