.suport {
	position: relative;

	&_title {
		width: 90vw;
		font-size: 5rem;

		@include respond-to(mobile) {
			font-size: 18vw;
			line-height: 12vw;
			padding: 0 2%;
			width: 95%;
		}

		&::before {
			display: block;
			position: absolute;
			top: -125px;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			background: url(../img/captain.png) 20% top no-repeat;
			background-size: 25% auto;
			opacity: 0.6;
			z-index: -1;

			@include respond-to(mobile) {
				top: -80px;
				background-size: 50% auto;
			}
		}
	}

	&_description {
		font-size: 3rem;
		margin-bottom: 30px;

		@include respond-to(mobile) {
			font-size: 10vw;
			line-height: 12vw;
			padding: 0 2%;
			width: 95%;
		}
	}

	&_img {
		display: inline-block;
		text-align: center;
		margin-bottom: 100px;
	}
}